## which functions shall be accessible by the users?
export(censorContVar,
       LoglikNormalCens,
       LoglikLogisticCens,
       LoglikGammaCens,
       LoglikWeibullCens,
       ParamSampleCens,
       LoglikNormalDeltaCens,
       NormalMeanDiffCens,
       CDF,
       h_conditional,
       S_conditional,
       WeibullIntegrate,
       LoglikWeibullSurvRegCens,
       SurvRegCens,
       survtime,
       F_time,
       TimeSampleWeibull,
       ConvertWeibull,
       WeibullReg,
       WeibullDiag
)
importFrom(numDeriv,
           hessian)
importFrom(survival,
           survfit, survreg)
importFrom(graphics,
           legend, plot)
importFrom(stats,
           dbinom, dgamma, dlogis, dnorm, dweibull, integrate, model.extract, model.frame, optim, pchisq, pgamma, plogis, pnorm, pweibull, qnorm, runif, sd, uniroot)
S3method(print, src)
S3method(coef, src) 
S3method(logLik, src) 
S3method(summary, src) 

